@using portal.ViewModel
@model List<RolEkleModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="row">
        <div class="card">
            <h5 class="card-header">Öğrencilerin Aldığı Dersler</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>

                            <th>Rol Adı</th>
                           

                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>                              
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <a href="/Rol/RolEkle" class="btn btn-primary">Rol ekle</a>
        </div>

    </div>
</div>

